chromadb==0.4.20
SQLAlchemy==2.0.23
semantic-kernel==0.3.12.dev0
# linter 
ipython
pylint

# docs 
sphinx-material
numpydoc
nbsphinx
recommonmark
sphinx-markdown-tables
sphinx_copybutton
readthedocs-sphinx-search
