sphinx==7.2.6
myst-parser==2.0.0
pydata-sphinx-theme==0.7.1
numpydoc
linkify-it-py
rich
sphinxext-rediraffe
sphinx-sitemap
sphinx-autoapi>=3.0.0
ablog>=0.11.0rc2
jupyter_sphinx
pandas
plotly
matplotlib
numpy
xarray
sphinx-copybutton
sphinx-design
sphinx-togglebutton
jupyterlite-sphinx
sphinxcontrib-youtube<1.4
sphinx-favicon>=1.0.1
ipykernel
nbsphinx
ipyleaflet
colorama